body {
    min-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.containter {
    background-color: #fff;
    box-shadow: 0 0 4px #e5e5e5;
    border-bottom: 3px solid #d2d2d2;
    position: relative;
    width: 1300px;
   
    margin-right: auto;
    margin-left: auto;
    padding-bottom:20px;
}

.header_bg {
    width: 100%;
    display:flex;
    margin-bottom: 20px;
}

.header_bg_left {
    width:700px;
    display:flex;
}

.header_bg_right {
    width: 380px;
}


.logo {
    width: 120px;
    height: 101px;
    margin-top: 20px;
}

.text {
    width: 640px;
    height:70%;
    margin-top:40px;
}

.text1_header_left {
    color: #95490d;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 2%;
    font-weight: 700;
    width: 100%;
    height: 25px;
}

.text2_header_left {
    color: #7a7a7a;
    font-size: 16px;
    padding-left: 2%;
    font-weight: 700;
    width: 100%;
    height: 20px;
}

.search input:first-child {
    border: solid 1px #e3e3e3;
    border-right: none;
    font-size: 15px;
    padding-left: 2%;
    padding-right: 2%;
    width: 70%;
    margin-right: -4px;
}

.search input {
    display: inline-block;
    height: 32px;
}

.search input:last-child {
    border: none;
    background: #6bb130;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    padding: 0 15px;
}

#search-post-form {
    margin-top:60px;
    height:60px;
}

.nav {
    display: block;
}

.menu {
    display: block !important;
    background-color: #6bb130 !important;
    /*background: url(/Images/pages/navigation-shadow.png) repeat-x 0 1px;*/
    width: 100%;
    height: 50px;
}



ul.menu_admin > li {
    list-style: none ;
    float: left ;
    position: relative ;
    font-size: 10px ;
}

    ul.menu_admin > li a {
        text-decoration: none ;
        color: #fff ;
        padding-left: 35px ;
        padding-top: 6px ;
        display: block ;
    }

ul.gioithieu1 {
    width: 250px ;
    min-height: 150px ;
    display: none ;
    position: absolute ;
}

    ul.gioithieu1 li {
        list-style: none ;
        background-color: white ;
    }

        ul.gioithieu1 li a {
            color: black ;
            text-decoration: none ;
            display: block ;
            border-top: 1px solid #ccc ;
            line-height: 40px ;
        }

ul.gioithieu > li:hover ul.gioithieu1 {
    display: block ;
}